production:
{% if schleuder_web_database is undefined %}
  adapter:  'sqlite3'
  database: db/production.sqlite3
  pool: 5
  timeout: 5000
{% else %}
  {% for key, value in schleuder_web_database.production.items() %}
  {{ key }}: {{ value }}
  {% endfor %}
{% endif %}