[Unit]
Description=Schleuder Web
After=local-fs.target network.target

[Service]
EnvironmentFile={{ schleuder_schleuder_web_environment_vars_path }}
WorkingDirectory={{ schleuder_schleuder_web_path }}
User=schleuder-web
ExecStart=/usr/local/bin/bundle exec rails server{% if schleuder_web_allow_access_from_outside|default(True) %} -b 0.0.0.0 {% endif %}

[Install]
WantedBy=multi-user.target
